body {
  background-color: black;
  color: lime;
  font-family: monospace;
  text-align: center;
  padding: 20px;
}

label, input, select, button, a {
  display: block;
  margin: 10px auto;
}

input, select, button {
  padding: 8px;
  background-color: #111;
  color: lime;
  border: 1px solid lime;
}

button:hover {
  background-color: lime;
  color: black;
  cursor: pointer;
}

.hidden {
  display: none;
}

#progress-bar {
  width: 80%;
  height: 20px;
  background: #111;
  border: 1px solid lime;
  margin: 10px auto;
}

#progress {
  height: 100%;
  width: 0%;
  background: lime;
}

#password-screen {
  margin-top: 100px;
}

#password-error {
  color: red;
}
